name: Release

on:
  workflow_run:
    workflows: Test
    branches: main
    types: completed

  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "castle-banker-bot-prod"
          heroku_email: "sgoodrow@gmail.com"
