name: Release

on:
  workflow_run:
    workflows: [Test]
    branches: [main]
    types: [completed]

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: yarn.lock
      - uses: dokku/github-action@v1.4.0
        with:
          branch: main
          git_remote_url: 'ssh://dokku@172.105.106.208/castle-discord-bot'
          ssh_private_key: ${{ secrets.DOKKU_PRIVATE_KEY }}
